/* * {
    border: 1px black dotted;
} */

body {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.listes {
    min-height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

tr{
    font-size: 1.4em;
    white-space: nowrap;
}

tr:hover{
    text-decoration:line-through;
    color:red;
}

.conteneurdetableau {
    background-color: rgba(231, 219, 219, 0.5);
    border: 1px rgba(200, 188, 188, 0.5) solid;
    min-width: 200px;
    min-height: 200px;
    height: 70%;
    max-height: 60vh;
    max-width: 28.25vw;
    margin: 15px 0 15px 0;
    overflow: scroll;
}

.conteneurdetableau[mini] {
    width: 70%;
    height: 40%;
    margin: auto;
}

#optionbtn {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto 0 auto;
}

p[description] {
    text-align: center;
    max-width: auto;
    min-height: 50px;
    max-height: 50px;
    flex-wrap: wrap;
    margin: -0.5em auto auto auto;

}

h1 {
    text-align: center;
}

div[inputbar] {
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}

input[type=text], input[type=url] {
    width: 100%;
}

.inputlistname,
#editlist {
    /* A venir */
    visibility: hidden;
}

.sablier {
    font-size: 75%;
}

h1[logo] {
    font-size: 3em;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(236, 236, 236);
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section[droite] {
    flex: 0.55;
    margin: 0 auto 0 auto;
}

div[checks] label {
    font-size: 1.5em;
}

input[type=checkbox] {
    margin: 10px 10px 10px 20px;
}


section[gauche],
section[milieu] {
    max-width: 100%;
    width: max-content;
    margin: 0 auto 10px auto;
    flex: 1;
    flex-grow: 0.45;
}

section {
    flex-wrap: wrap;
}

/* Début code boutons d'accès */
/*Modifié par moi à partir d'une version de David Conner.  Source originale : https://codepen.io/davidicus/pen/emgQKJ/ */

.btn {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 100;
    line-height: 18px;
    /*controle hauteur*/
    margin: 0em;
    padding: 0 10px 0 10px;
    max-width: max-content;
    /*controle largeur*/
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    text-decoration: none;
}

.btn-3 {
    background: #e3403a;
    border: 1px solid #da251f;
    font-weight: 750;
    letter-spacing: 1px;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}

.btn-3:hover {
    background: #e02c26;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: #ec817d;
    text-decoration: none;
    text-shadow: -1px -1px 0 #c2211c;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.btn-3:active {
    box-shadow: 0px 0px 10px 5px #ca1b15 inset;
}

.btn-3[special] {
    line-height: 25px;
    margin: 20px auto 25px auto;

}